<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">
  <h1 class="ion-text-center ion-text-bold">Bienvenue à notre Hackathon !</h1>
  <ion-card class="custom-card">
    <ion-card-content>
      <p class="ion-text-center"><strong>Qu'est-ce qu'un Hackathon?</strong></p>
      <p>
        Un hackathon est un événement collaboratif intensif où des esprits créatifs se réunissent pour résoudre des problèmes, créer des prototypes et innover en un temps limité. Que vous soyez un développeur, un designer, un entrepreneur ou simplement passionné par l'innovation, le hackathon est l'endroit idéal pour transformer vos idées en réalité.
      </p>
    </ion-card-content>
  </ion-card>
    
    <!-- Bouton "Voir les Hackathons" au milieu -->
    <div class="ion-text-center">
      <ion-button (click)="voirHackathons()">Voir les Hackathons</ion-button>
    </div>
  
</ion-content>
