.custom-background {
    --ion-background-color: #ffffff; /* Couleur de fond blanche */
    padding: 20px; /* Ajoute une marge à l'intérieur de la page */
  }
  
  .custom-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre à la carte */
    margin: 20px; /* Ajoute une marge autour de la carte */
  }
  
  
  ion-toolbar {
    margin-bottom: 0;
  }
  
  ion-card-content {
    text-align: justify;
    background-color : #c1070700;
  }
  
  h1 {
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  strong {
    color: #ff4081;
  }
  